body {
    background: #0b122e;
    /* background: url(../img/bg.jpg) no-repeat; */
    /* background-size: 100%; */
}

.head-title {
    text-align: center;
}

.head-title .line {
    display: inline-block;
    width: 8px;
    height: 25px;
    border: 2px solid #436fd0;
}

.head-title .title {
    width: 180px;
    height: 35px;
    margin: 5px auto;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    font-family: sans-serif;
    background: #0b122e;
    border-radius: 2px;
}

.head-title1 {
    text-align: center;
}

.head-title1 .title1 {
    width: 180px;
    height: 20px;
    border-left: 3px solid #436fd0;
    border-right: 3px solid #436fd0;
    margin: 10px auto;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    line-height: 10px;
    /* font-weight: bold; */
    font-family: sans-serif;
    background: #0B132E;
}

.title-wrapper {
    border-radius: 5px;
    border: 1px solid #436fd0;
    box-shadow: 0 0 5px #0927af;
    margin-top: -20px;
    padding: 10px 0 0 0;
}

#main {
    padding-top: 10px;
    padding-left: 10px;
    height: 900px;
    border-style: solid;
    border-width: 2px;
    border-color: #436fd0;
    /* #2B55CB */
    margin-top: -28px;
}

.wrapper {
    padding: 10px;
}

.rose {
    border-right: 1px solid #1e276c;
}

.time {
    border-bottom: 1px solid #1e276c;
}

.qvobject {
    height: 200px;
}

#QV01,
#QV02,
#QV03 {
    height: 98px;
}

#QV04,
#QV05,
#QV06 {
    height: 98px;
}

#QV07,
#QV08,
#QV09 {
    height: 33.3px;
}

#QV010,
#QV011,
#QV012,
#QV013,
#QV014 {
    margin: 0 -20px;
    margin-top: 10px;
    height: 100px;
    background: url(../img/icon_bg04.png) no-repeat;
    background-size: 78px;
    background-position-x: 10px;
    background-position-y: 5px;
}

#QV010-1,
#QV011-1,
#QV012-1,
#QV013-1,
#QV014-1 {
    height: 34px;
    color: #a3b3bf;
    text-align: center;
}
#QV015-1 {
    margin: 40px 0 10px 0;
    height: 180px;
}

#QV015 {
    height: 260px;
    background: url(../img/border.png) no-repeat;
    background-size: 150px;
    background-position-x: 14px;
    background-position-y: 50px;
}

#QV016 {
    height: 80px;
}

#QV017 {
    height: 380px;
}

#QV018,
#QV020,
#QV022 {
    height: 90px;
    margin-bottom: 10px;
    margin-left: -40px;
}

#QV019,
#QV021,
#QV023 {
    /* padding-left: 40px; */
    height: 90px;
}

#QV024 {
    margin-left: 40px;
}

#QV024,
#QV025 {
    margin-top: 5px;
    height: 150px;
}

#QV026,
#QV027 {
    height: 125px;
}

#QV028 {
    margin-top: 15px;
    height: 125px;
}
#QV029 {
    height: 125px;
}

#QV030 {
    margin-top: 35px;
    height: 230px;
}

#QV031 {
    height: 80px;
}
#QV032,
#QV033 {
    height: 110px;
    margin-top: 15px;
}

#QV034 {
    padding: 0;
    margin: 0;
    height: 320px;
}

.wrapper-bg {
    margin-bottom: 10px;
}

.nomargin {
    margin: -10px;
}

.nopadding {
    padding: 0;
    margin: 10px -10px -20px -10px;
}